<h1> Lets add a new tweet </h1>

<form method="POST" action='/tweets'>
  <label> Add Your message</label>
  <p><textarea type='text' name='content'>
    </textarea></p>

  <input type="submit" value="Create a Tweet" id="submit">
</form>
