<h1> Showing your tweeting!</h1>
<p><%= @tweet.content %> By: <%= @tweet.user.username %></p>


  <a href="/tweets/<%= @tweet.id %>/edit"> Edit Tweet</a>
  <form method="POST" action='/tweets/<%= @tweet.id %>/delete'>
    <input name="_method" type="hidden" value="DELETE">
    <button type="submit" value="Delete Tweet" id="Delete Tweet">Delete Tweet</button>
  </form>
