
<h1>Sign Up for Fwitter</h1>

<form method='POST' action='/signup'>

  <p><label>Username:</label>
  <input type='text' name="user[username]"></p>

  <p><label>Email:</label>
  <input type='text' name="user[email]"></p>

  <p><label>Password:</label>
  <input type='text' name="user[password]"></p>

  <input type='submit' value='Sign Up'>
</form>
