<h1>Login to Fwitter</h1>
<form method='POST' action='/sessions'>

  <p><label>Username:</label>
  <input type='text' name="user[username]"></p>


  <p><label>Password:</label>
  <input type='text' name="user[password]"></p>

  <input type='submit' value='Sign In'>
</form>
